div.square {
  position: relative;
  width: 20%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.my-popover-content {
    display:block;
}
